<style>
    
</style>

<div class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex justify-content-evenly">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <a class="navbar-brand text-light logo" href="#"><img style="margin-left: -2rem;" src="../../assets/Images/Flipcart.svg" alt=""></a>
           <div class="d-flex">
               <div class="nav-item dropdown">
               <div class="d-flex link-container">
                <a href=""><img  src="../../assets/Images/user-interface.png"  alt="" width="24px"></a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    
                  Login
                </a>
               </div>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
           </div>
          <div class="nav-item link-container">
            <div class="d-flex">
                <a href=""><img src="../../assets/Images/shopping-cart.png" width="24px" alt=""></a>
                <a href="#" class="nav-link d-none  d-xl-block">Cart</a>
            </div>
          </div>
            <ul class="navbar-nav search-bar" style="width: 500px;">
                    <form class="d-flex w-100">
                        <input class="form-control w-100" type="search" placeholder="Search for products, Brands and More" aria-label="Search">
                      </form>
          
             
            </ul>
            <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
                <div class="nav-item link-container">
                    <div class="d-flex">
                        <a href=""><img src="../../assets/Images/shop.png" alt="" width="24px"></a>
                        <a href="#" class="nav-link d-none d-xl-block">Become a Seller</a>
                    </div>
                  </div>
                  <div class="nav-item">
                    <a class="nav-link" href="#"><img src="../../assets/Images/dots.png" alt="" width="24px"></a>
                  </div>
                </div>
          </div>
      </nav>
</div>


